$text-dark-color: #000;
$text-medium-color: #444;
$text-light-color: #fff;

$site-dark-color-0: #000;
$site-dark-color-1: #111;
$site-dark-color-2: #333;
$site-dark-color-3: #444;

$site-medium-color-0: #666;
$site-medium-color-1: #777;
$site-medium-color-2: #999;
$site-medium-color-3: #111;
$site-medium-color-4: #111;
$site-medium-color-5: #d8d8d8;
$site-light-color-0: #eee;
$site-light-color-1: #efefef;
$site-light-color-2: #fff;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

$sans-font-stack: 'Open Sans', 'sans-serif';
