.header-large {
  justify-content: space-between;
  nav {
    visibility: hidden;
    width: 0;
  }
  button {
    visibility: visible !important;
  }
}

.project-gallery {
  grid-template-columns: 1fr;
  .project-thumbnail {
    .project-info {
      height: 100%;
    }
  }
}

