@mixin flex-row-center {
    display: flex;
    align-content: center;
    justify-content: center;
}
@mixin flex-row{
    display: flex;
}

@mixin padding-3 {
    padding: 3rem;
}
@mixin padding-2 {
    padding: 2rem;
}
@mixin padding-1 {
    padding: 1rem;
}