.header-large{
     img:hover {
    transform: scale(1.2);

    }
    button{
        .menu-icon-container{
            &:hover{
                transform: rotate(45deg);
                border-color: transparent;
            }
            
        }
        &:active{
            .menu-icon-container{
                transform: rotate(360deg);
            }
        }
    }
    nav{
        .nav-list{
            li:hover{
                transform: scale(1.2);
            }
            .nav-link:hover{
                opacity: 1;
                border-color: #fff;
                padding-bottom: 0rem;
            }
        }
    }
}

.side-bar{
    button{
        .menu-icon-container{
              &:hover{
                  transform: rotate(90deg);
                  border-color: transparent;
            }
            &:active{
                transform: rotate(360deg);
                box-shadow: none;
                .menu-icon-container:hover{
                    transform: rotate(0deg);
                }
            }
        }
    }
}
