@import url("https://fonts.googleapis.com/css2?family=Lora&family=Work+Sans:wght@200;300;400;700;900&display=swap");

html,
#root,
body {
  font-size: 10px;
  font-family: "Work Sans", "Helvetica", sans-serif;
}
.App {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
}
ul {
  list-style-type: none;
}

main {
  font-size: 1.6rem;
}
// global variables

// dark
$text-dark-color: #141b1f;
$text-medium-dark-color: #333;
$tex-light-grey-color: #555;

// light
$site-light-color: #fefefe;
$site-medium-light-color: #d8d8d8;
