.main-contact {
  display: grid;
  min-height: 100vh;
  align-items: flex-start;

  h1 {
    font-weight: 200;
    text-transform: uppercase;
  }
  h3 {
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .contact-section {
    a {
      color: #5f9ea0;
    }
  }
  &.dark {
    background-color: $text-dark-color;
    color: #fff;
    .contact-section {
      input {
        background-color: $site-medium-light-color;
      }
      button[type="submit"] {
        color: $site-medium-light-color;
        font-weight: 600;
        i {
          color: $site-medium-light-color;
        }
      }
    }
  }
}

.contact-section {
  align-self: center;
  padding: 2rem;
  max-width: 1080px;
  margin: 0 auto;
}
.contact-heading {
  padding: 3rem 0;
}
.contact-methods {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 1rem;
  border-top: $site-medium-light-color 2px solid;
  form {
    display: grid;
  }
}

.form-fields {
  margin: 1.5rem 0;

  label {
    display: block;
    font-size: 2rem;
    margin: 0 0 1rem 1rem;
    font-weight: 200;
  }
  input {
    display: block;
    max-width: 100%;
    width: -webkit-fill-available;
    margin: 0.5rem 2rem 0 1rem;
    padding: 0.75rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.6rem;
  }
  textarea {
    display: block;
    max-width: 100%;
    width: -webkit-fill-available;
    margin: 0.5rem 2rem 0 1rem;
    resize: none;
    padding: 0.75rem;
    font-family: inherit;
    font-weight: 600;
    height: 80px;
  }
}

.socials {
  margin: 1.5rem;
  ul {
    li {
      margin: 1rem 0;
      font-size: 1.7rem;
      padding: 1rem;
      margin: 1.2rem 0;
    }
  }
}
button[type="submit"] {
  display: flex;
  align-items: center;
  margin: 0 2rem 3rem 0;
  padding: 0.5rem 2rem;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  /* font-weight: 400; */
  background: transparent;
  border: 2px solid #d8d8d8;
  grid-row: 4;
  justify-self: flex-end;
  i {
    font-size: 1.4rem;
    margin-left: 0.5rem;
    color: $text-medium-dark-color;
  }
  &:hover {
    animation: bounce 2s ease-out infinite;
  }
}

@keyframes fly {
  0%,
  100% {
    transform: translate(0);
  }
  50% {
    transform: translate(20px, -2px);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
