nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  box-shadow: 0 4px 4px rgba($color: $site-medium-light-color, $alpha: 0.5);
  ul {
    list-style: none;
    display: inline-flex;
    align-items: center;
    border-left: $site-medium-light-color 2px solid;
    li {
      margin: 0.5rem;
      font-size: 1.4rem;
    }
  }
  .logo {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $site-medium-light-color;
  }
}
