nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  box-shadow: 0 4px 4px rgba($color: $site-medium-light-color, $alpha: 0.5);
  &.dark {
    background-color: #222;
    color: $site-medium-light-color;
    a {
      color: $site-medium-light-color;
      &:hover {
        color: $site-light-color;
        transform: scale(1.1);
      }
      &:focus {
        color: $site-light-color;
      }
    }
  }
  ul {
    list-style: none;
    display: inline-flex;
    align-items: center;
    border-left: $site-medium-light-color 2px solid;
    li {
      margin: 0.5rem;
      font-size: 1.6rem;
      a {
        display: block;
        color: $text-medium-dark-color;
        transition: all 0.4s ease-out;
        &:hover {
          color: $text-dark-color;
          transform: scale(1.1);
        }
        &:focus {
          @extend:hover;
        }
      }
    }
  }
  .logo {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    font-weight: 200;
    justify-content: center;
    border: 2px solid $site-medium-light-color;
  }
  .dark-mode-toggle {
    display: grid;
    height: 4.4rem;
    width: 4.4rem;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      .light-mode {
        animation: spin 3s linear infinite;
      }
      .dark-mode {
        animation: rock 4s ease-out infinite;
      }
    }
    &:focus {
      @extend:hover;
    }

    .dark-mode {
      grid-row: 1;
      grid-column: 1;
      color: #fff7c2;
      transform-origin: center;
      border-radius: 50%;
      width: min-content;
      transition: opacity 0.4s;
      justify-self: center;
      background-color: #333;
    }
    .light-mode {
      grid-row: 1;
      grid-column: 1;
      color: #fad700;
      transition: opacity 0.4s;
      font-weight: 700;
      transition: all 0.6s ease-out;
    }
    .fade {
      opacity: 0;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rock {
  0%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-35deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
}
