.main-project {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  min-height: 100vh;
  &.dark {
    background-color: $text-dark-color;
    color: $site-medium-light-color;
  }
  .introduction {
    padding: 2rem;
    h1 {
      font-weight: 200;
      text-transform: uppercase;
      padding: 1rem 0;
    }
  }
  .project-section {
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    padding: 2rem;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    a {
      color: #5f9ea0;
    }
    .project-container {
      display: grid;
      gap: 2rem;
    }
    .project-card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0;
      min-width: 33vh;
      max-width: 100%;

      .project-image {
        width: 100%;
      }
      .project-content {
        border: 1px solid;
      }
      .project-title {
        margin: 1.5rem;
      }
      .project-desc {
        padding: 0 1.5rem 1.5rem 1.5rem;
      }
      .project-links {
        padding: 0 1.5rem;
      }
      .project-stack {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0 1.5rem 1.5rem 1.5rem;

        .logoSvg {
          width: 22px;
        }
        i {
          min-width: 22px;
          margin-left: 0.5rem;
          font-size: 2.2rem;
        }
        .tech {
          display: flex;
          align-items: center;
          margin: 1rem;
        }
      }
    }
  }
}
