@import "./config";
@import "./navbar";
@import "./footer";
@import "./home";
@import "./contact";
@import "./projects";
@import "./about";

@import "./mediaQuery";
.App,
body {
  overscroll-behavior: none;
}
main {
  transition: color 0.5s ease-out, background-color 0.5s ease-out;
  padding: env(safe-area-inset);
}
